<!-- Class Binding -->
<h1 [class.text-red] = "bool">Angular APP</h1>

<!-- Style Binding -->
<h1 [style.color] = "bool ? 'blue' : 'black'">Style Binding</h1>

<!-- Event Binding -->
<button (click)="buttonClick()">Click me</button>

<!-- COMPONENTS -->
<app-navbar></app-navbar>
<app-post></app-post>

<!-- String interpolation  -->
<p> {{ message }} </p>

<img src="{{ imgUrl }}" alt="">

<!-- Property Binding -->
<img [src]="imgUrl" alt="">

<!-- Two way Data binding -->
<!--<input type="text" (keyup.enter) = "onKeyup(username.value)" #username>-->

<input type="text" [(ngModel)] = "userName" (keyup.enter) = "onKeyup()">